<a href='lists/<%= list.playlist_id %>' >
    <div class="list_block">
        <div class="list_block_img">
            <img src="<%= list.image_url %>">
        </div>
        <div class="list_block_text">
            <p><%= list.name %></p>
        </div>
    </div>
</a>